 <!-- About Section -->
    <section class="success" id="about">  
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="padding-bottom">I’ve always been very creative with a flair for design and layout. I started out as a graphic artist but later joined the games industry as a storyboard artist. I have been modelling and animating for several years at some of the leading games studios in London.</p>
                </div>
                <div class="col-lg-4">
                    <p class="padding-bottom">Recently I completed the General Assembly Web Development Immersive course to further enhance my design skills. The course was full stack touching on all aspects of web development, from the back end all the way through to the front end and user experience. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://media.wix.com/ugd/4a3e5f_e0548ef79a3943ca9acce318b421a6dc.doc?dn=Neil%20Crosbourne%20CV.doc" download class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>